---
layout: default
weight: 1
---

<div class="home">

  <center>
  <div style="width: 95%" class="border">
    <p style="padding: 15px 8px 15px 8px">
    LATEST NEWS: <span style="color: black; font-weight: normal">Please join us at <a href="/pragma40">PRAGMA 40 - October 9-12, 2024</a> and get an update on our <a href="/projects">current activities</a>. </span></p>
  </div>
  </center>
  <br/>

  <h1 class="post-title">Welcome </h1>

  <p>
     <img src="/images/welcome.png" class="img-left" alt="" /></a>
     The Pacific Rim Application and Grid Middleware Assembly (PRAGMA) is a
     community of practice comprising individuals and institutions from around
     the Pacific Rim that actively collaborate with, and enable, small- to
     medium-sized groups to solve their problems with information technology.
     Key to PRAGMA's success is the active involvement of participants in
     scientific expeditions, technology development, student engagement, and
     outreach to new communities.
  
  <p>
    
     Attending our workshops is an ideal way to become familiar with what
     PRAGMA does, and how we interact as a community of trust. We invite you,
     your students and colleagues to explore this site, visit our partner
     sites, and attend future workshops (which do not carry a registration
     fee). We look forward to seeing you there!
  </p>
  

  <h1 class="post-title">Current Activities</h1>

  Please check our current list of collaborative <a href="/projects">activities</a> here.  We welcome
  your participation!

  <p>
  <h1 class="post-title">About</h1>

  <p>
   
  The Pacific Rim Application and Grid Middleware Assembly (PRAGMA)
  is <strong>an international, distributed</strong> community of practice for 
  technology and approaches that supports the long tail of science, namely
  enabling small- to medium-sized international groups, to make rapid progress
  in conducting research and education by providing and developing international, 
  experimental cyberinfrastructure.
  
  <p></p>
  
  To realize this mission, PRAGMA's current activities include four
  interrelated activities:
  
   <p>
     
        <ul>
          <li>Fostering international "scientific expeditions" by forging teams
              of domain scientists and cyberinfrastructure researchers who
              develop and test information technologies that are needed to solve
              specific scientific questions and create usable, international-scale, 
              cyber environments; </li>
          <li>Developing and improving a grassroots, international
              cyberinfrastructure for testing, computer science insight and,
              advancing scientific applications by sharing resources, 
              expertise and software;.</li>
          <li>Infusing new ideas by developing young researchers who gain
              experience in cross-border science and by extending 
              engagements with strategic parterns;</li>
          <li>Building and enhancing the essential people-to-people trust and
             organization developed through regular, face-to-face meetings -
             a core foundation of PRAGMA's success.</li>
        </ul>
  
<p>

  <p><a href="/images/pdf/operating-principles.pdf" target="_blank"
  title="Operating Principles"> Operating Principles and Procedures</a>
  </p>

<!--
  {% for collection in site.collections %}
    {% if collection.label != 'posts'  %}
       <h3>All documents listed in collection '{{ collection.label}}'</h3>
       {% assign Collection = site.collections | where: "label", collection.label | first %}
       {% for doc in Collection.docs %}
         <li> <a href="{{ site.url }}{{ doc.url }}">{{ doc.title }}</a> </li>
       {% endfor %}
       <hr>
    {% endif %}
  {% endfor %}
-->
</div>

