
<div class="quicklinks">
  <div class="ql-entry"  text-align="center">
    <h4>Upcoming Events </h4> 
  </div>

  {% for service in site.["news"] %}
    {% if service.categories[0] == "events" %}
      <div class="ql-entry">
         <a href="{% if service.link %}{{ service.link }}{% else %}{{ service.url }}{% endif %}" title="{{ service.title }}">&raquo; {{ service.title }}</a>
         <br>{{ service.dates }}
         <br>{{ service.location }}<br><hr>
      </div>
    {% endif %}
  {% endfor %}

</div>
