<ul>
<!--
  <li><a class="DPage" href="/pragam40-dates">Important Dates</a></li>
  <li><a class="DPage" href="/pragam40-program">Program</a></li>
  <li><a class="DPage" href="/pragam40-committee">Committees</a></li>  
  <li><a class="DPage" href="/pragam40-posters">Call for Posters</a></li>
  <li><a class="DPage" href="/pragam40-student-presentations">Call for Student Presentations</a></li>
  <li><a class="DPage" href="/pragam40-visa">Visa Information</a></li>
  <li><a class="DPage" href="/pragam40-travel">Travel</a></li>  
  <li><a class="DPage" href="/pragam40-venue">Venue/Lodging</a></li>      
  <li><a class="DPage" href="/pragam40-sponsors">Sponsorship</a></li>
  <li><a class="DPage" href="/pragam40-contact">Contacts</a></li>   
-->
  <li>&nbsp;&nbsp;</li>
  <li><center><a class="DPage" href="http://www.pragma-grid.net">PRAGMA website<br><img src="/images/pragmalogos/pragma-nobg-small.png" height="75" valign="top"/></a></center></li>
</ul>
