<ul>    
  <li><a class="DPage" href="/pragma36-dates">Important Dates</a></li>
  <li><a class="DPage" href="/pragma36-program">Program</a></li>
  <li><a class="DPage" href="/pragma36-committee">Committees</a></li>  
  <li><a class="DPage" href="/pragma36-posters">Call for Posters</a></li>
  <li><a class="DPage" href="/pragma36-demos">Call for Demos</a></li>
  <li><a class="DPage" href="/pragma36-visa">Visa Information</a></li>
  <li><a class="DPage" href="/pragma36-travel">Travel</a></li>  
  <li><a class="DPage" href="/pragma36-venue">Venue/Lodging</a></li>      
  <li><a class="DPage" href="/pragma36-sponsors">Sponsorship</a></li>
  <li><a class="DPage" href="/pragma36-contact">Contacts</a></li>   
  <li>&nbsp;&nbsp;</li>
  <li><a class="DPage" href="http://www.pragma-grid.net">PRAGMA website<br><img src="/images/pragma-logo.png" height="25" valign="top"/></a></li>
</ul>
