<ul>    
  <li><a class="DPage" href="/pragma33-welcome">Welcome</a></li>
  <li><a class="DPage" href="/pragma33-importantDates">Important Dates</a></li>
  <li><a class="DPage" href="/pragma33-program">Program</a></li>
  <li><a class="DPage" href="/pragma33-committee">Committees</a></li>  
  <li><a class="DPage" href="/pragma33-callForPosters">Call for Posters</a></li>
  <li><a class="DPage" href="/pragma33-callForDemos">Call for Demos</a></li>
  <li><a class="DPage" href="/pragma33-visaLetters">Visa Letters</a></li>
  <li><a class="DPage" href="/pragma33-travel">Travel</a></li>  
  <li><a class="DPage" href="/pragma33-venue">Venue/Lodging</a></li>      
  <li><a class="DPage" href="/pragma33-sponsorsAndPartners">Sponsorship</a></li>
  <li><a class="DPage" href="/pragma33-contact">Contacts</a></li>   
  <li>&nbsp;&nbsp;</li>
  <li><a class="DPage" href="/pragma33-license">License</a></li>   
  <li>&nbsp;&nbsp;</li>
  <li><a class="DPage" href="http://www.pragma-grid.net">PRAGMA website<br><img src="/images/pragma-logo.png" height="25" valign="top"/></a>
  </li>
</ul>

