<ul>    
  <li><a class="DPage" href="/pragma35-importantDates">Important Dates</a></li>
  <li><a class="DPage" href="/pragma35-program">Program</a></li>
  <li><a class="DPage" href="/pragma35-committee">Committees</a></li>  
  <li><a class="DPage" href="/pragma35-callPosters">Call for Posters</a></li>
  <li><a class="DPage" href="/pragma35-callDemos">Call for Demos</a></li>
  <li><a class="DPage" href="/pragma35-visa">Visa Information</a></li>
  <li><a class="DPage" href="/pragma35-travel">Travel</a></li>  
  <li><a class="DPage" href="/pragma35-venue">Venue/Lodging</a></li>      
  <li><a class="DPage" href="/pragma35-sponsorsPartners">Sponsorship</a></li>
  <li><a class="DPage" href="/pragma35-contact">Contacts</a></li>   
  <li>&nbsp;&nbsp;</li>
  <li><a class="DPage" href="http://www.pragma-grid.net">PRAGMA website<br><img src="/images/pragma-logo.png" height="25" valign="top"/></a>
  </li>
</ul>
