<ul>    
  <li><a class="DPage" href="/pragma38-dates">Important Dates</a></li>
  <li><a class="DPage" href="/pragma38-program">Program</a></li>
  <li><a class="DPage" href="/pragma38-committee">Committees</a></li>  
  <li><a class="DPage" href="/pragma38-posters">Call for Posters</a></li>
  <li><a class="DPage" href="/pragma38-student-presentations">Call for Student Presentations</a></li>
  <li><a class="DPage" href="/pragma38-demos">Call for Demos</a></li>
  <li><a class="DPage" href="/pragma38-visa">Visa Information</a></li>
  <li><a class="DPage" href="/pragma38-travel">Travel</a></li>  
  <li><a class="DPage" href="/pragma38-venue">Venue/Lodging</a></li>      
  <li><a class="DPage" href="/pragma38-sponsors">Sponsorship</a></li>
  <li><a class="DPage" href="/pragma38-contact">Contacts</a></li>   
  <li>&nbsp;&nbsp;</li>
  <li><center><a class="DPage" href="http://www.pragma-grid.net">PRAGMA website<br><img src="/images/pragmalogos/pragma-nobg-small.png" height="75" valign="top"/></a></center></li>
</ul>
