<ul>    
  <li><a class="DPage" href="/pragma34-welcome">Welcome</a></li>
  <li><a class="DPage" href="/pragma34-importantDates">Important Dates</a></li>
  <li><a class="DPage" href="/pragma34-program">Program</a></li>
  <li><a class="DPage" href="/pragma34-committee">Committees</a></li>  
  <li><a class="DPage" href="/pragma34-callPosters">Call for Posters</a></li>
  <li><a class="DPage" href="/pragma34-callDemos">Call for Demos</a></li>
  <li><a class="DPage" href="/pragma34-visaLetters">Visa Information</a></li>
  <li><a class="DPage" href="/pragma34-travel">Travel</a></li>  
  <li><a class="DPage" href="/pragma34-venue">Venue/Lodging</a></li>      
  <li><a class="DPage" href="/pragma34-sponsorsPartners">Sponsorship</a></li>
  <li><a class="DPage" href="/pragma34-contact">Contacts</a></li>   
  <li>&nbsp;&nbsp;</li>
  <li><a class="DPage" href="http://www.pragma-grid.net">PRAGMA website<br><img src="/images/pragma-logo.png" height="25" valign="top"/></a></li>
</ul>

