---
layout: post
title: "Leadership"
---

<div class="border">
  <h4><a name="working"></a>Working Groups</h4>
</div>

{% assign groups = site["groups"] | sort: "order" %}

{% for group in groups %}
<p>
  {% assign leads = site["people"] | where: "groups", group.title | sort: "title" %}
  {% assign numleads = leads | size %}
  <ul>
    <li><strong>{{ group.title | upcase }}</strong>: {{ group.tagline }}.  
    {% if numleads > 1 %}
      Co-leaders: 
    {% else %}
      Led by:
    {% endif %}
    <ul>
  {% for lead in leads%}
      <li><a href="{{ lead.url }}" title="{{ lead.title }}">{{lead.firstname}} {{ lead.title }}</a> - {{lead.affiliation}}</li>
  {% endfor %}
    </ul>
    </li>
  </ul>
</p>
{% endfor %}


<div class="border">
  <h4><a name="governance"></a>Governance</h4>
</div>

<p>PRAGMA is led by a Steering Committee and its Executive Committee, which operate according to the 
<a href="/images/pdf/operating-principles.pdf" target="_blank">Operating Principles and Procedures</a> 
document, which all PRAGMA members agree to abide by. The Steering Committee sets direction, reviews membership 
applications and proposals to host PRAGMA workshops.  </p>


{% assign executive = site["executive"] | sort: "order" %}

<p><strong>Executive Committee Members and Roles</strong>
  <ul>
  {% for area in executive %}
    {% if area.title == "Chairs" %}
    <li><strong>{{area.tagline}}</strong>
    {% else %}
    <li><strong>{{area.title}}</strong>: {{area.tagline}}
    {% endif %}
    <ul>
    {% assign chairs = site["people"] | where: "executivearea", area.title | sort: "executiverole" %}
    {% for person in chairs %}
      <li><a href="{{ person.url }}" title="{{ person.title }}">{{person.firstname}} {{ person.title }}</a> - {{person.executiverole}}</li>
    {% endfor %}
    </ul>
    </li>
  {% endfor %}
  </ul>
</p>

<p>For more information about these roles, see the PRAGMA <a href="/images/pdf/operating-principles.pdf" target="_blank">Operating Principles and Procedures</a>.</p>

{% assign steering = site["people"] | where: "categories", "steering" | sort: "title" %}

<p><strong>Steering Committee</strong>
<ul class="posts">
  {% for member in steering %}
    {% unless member.categories[0] == 'chair' %}
      <li><a href="{{ member.url }}" title="{{ member.title }}">{{member.firstname}} {{ member.title }}</a> - {{member.affiliation}}
      </li>
    {% endunless %}
  {% endfor %}
</ul>
</p>

{% assign students = site["people"] | where: "categories", "studentcommittee" | sort: "title" %}
<p><strong>PRAGMA Students Leads</strong>
  <ul>
  {% for student in students %}
      <li><a href="{{ student.url }}" title="{{ student.title }}">{{student.firstname}} {{ student.title }}</a> - {{student.affiliation}}
  {% endfor %}
  </ul>
</p>

{% assign nsf = site["people"] | where: "categories", "nsf" | sort: "title" %}
<p><strong>NSF PRAGMA Award Investigators</strong>
  <ul>
  {% for pi in nsf %}
      <li><a href="{{ pi.url }}" title="{{ pi.title }}">{{pi.firstname}} {{ pi.title }}</a> - {{pi.affiliation}}
  {% endfor %}
  </ul>
</p>

