---
layout: default
---

<h2>People</h2>

{% assign pages = site[page.short] | sort: "title" %}

<table width="100%">

<tr>
  <th><div class="border">Steering Committee</div> </th>
  <th><div class="border">Researchers</div> </th>
  <th><div class="border">Students</div> </th>
</tr>

<tr>
<td width="34%">
<ul class="posts">
  {% for post in pages %}
    {% if post.categories[0] == 'steering-list' %}
      <li><a href="{{ post.url }}" title="{{ post.title }}">Current members</a> </li>
    {% endif %}
  {% endfor %}
  {% for post in pages %}
    {% if post.categories[0] == 'ex-steering' %}
      <li><a href="{{ post.url }}" title="{{ post.title }}">Ex-officio members</a> </li>
    {% endif %}
  {% endfor %}
</ul>
</td>

<td width="33%">
<ul class="posts">
  {% for post in pages %}
    {% if post.categories[0] == 'researcher-list' %}
      <li><a href="{{ post.url }}" title="{{ post.title }}">Current researchers</a> 
      </li>
    {% endif %}
  {% endfor %}
  {% for post in pages %}
    {% if post.categories[0] == 'ex-researchers' %}
      <li><a href="{{ post.url }}" title="{{ post.title }}">{{post.firstname}} {{ post.title }}</a> 
      </li>
    {% endif %}
  {% endfor %}
</ul>
</td>

<td width="33%">
<ul class="posts">
  {% for post in pages %}
    {% if post.categories[0] == 'students' %}
      <li><a href="{{ post.url }}" title="{{ post.title }}">Current students</a> 
      </li>
    {% endif %}
  {% endfor %}

  {% for post in pages %}
    {% if post.categories[0] == 'ex-students' %}
      <li><a href="{{ post.url }}" title="{{ post.title }}">Alumni students</a> 
      </li>
    {% endif %}
  {% endfor %}
</ul>
</td>
</tr>


</table>

<p>
  
<h2>Members and Partners</h2>

<p>PRAGMA is an institution-and people-based organization governed by a steering committee that invites new members, determines locations of
  workshops and sets overall direction for PRAGMA initiatives.   
</p>

<h2>Partner and Other Community Activities</h2>

<p>Please see is <a href="{{page.url}}/partner-activities">Partner and Other Community Activities</a> for collaborative 
activities information.  </p>

<h2>Students</h2>
<ul>
{% for service in pages %}
    {% if service.tagline  == "studentcat" %}
      <li><a href="{{ service.url }}" title="{{ service.title }}">{{ service.title }}</a>
    {% endif %}
      <p></p>
      </li>
{% endfor %}
</ul>

<hr class="primary">
<p> <a href="{{ page.url }}"> Back to top </a> </p>

