---
layout: default
---

<section class="bg-dark">
  <div class="text-center">
    <h1>New and Revived</h1>
  </div>
</section>

<div class="border">
 <h4><b><a name="working"></a>Working Groups</b></h4>
</div>

(Note: to join the mailing lists below, you must be signed into a google account and then click the 'Ask to join group' button) </li>
<br/>

{% assign groups = site["groups"] | sort: "order" %}
{% assign activegroups = groups | where:"status", "active" %}

{% for group in activegroups %}
<p>
  {% assign leads = site["people"] | where: "groups", group.title | sort: "title" %}
  {% assign numleads = leads | size %}
  <ul>
    <li><strong>{{ group.title | upcase }}</strong>: {{ group.tagline }}
      <ul>
        <li><b>
    {% if numleads > 1 %}
      Co-leaders:
    {% else %}
      Led by:
    {% endif %}
      </b>
        <ul>
  {% for lead in leads%}
        <li><a href="{{ lead.url }}" title="{{ lead.title }}">{{lead.firstname}} {{ lead.title }}</a> - {{lead.affiliation}}</li>
  {% endfor %}
       </ul>
      </li>
      <li><b>Mailing list</b>: <a href="{{ group.mailinglist }}">{{ group.mailinglist }}</a><br/></li>
    </li></ul>
  </ul>
</p>
{% endfor %}

<div class="border">
 <h4><b><a name="working"></a>Excursions</b></h4>
</div>

<p>Excursions are new efforts starting up in PRAGMA (as of Summer 2023).  All
PRAGMA members are welcome to join any of the efforts below by contacting the
leads and/or joining the mailing groups below. </p>

(Note: to join the mailing lists below, you must be signed into a google account and then click the 'Ask to join group' button) </li>
<br/>
<br/>
{% assign excursions = site["projects"] | where:"status", "new" | sort: "order" %}

{% for excursion in excursions %}
<ul>
    <li><strong>{{ excursion.title | upcase }}</strong>: {{ excursion.tagline }} 
      <ul>
        <li><b>
    {% assign leads = site["people"] | where: "groups", excursion.title | sort: "title" %}
    {% assign numleads = leads | size %}
    {% if numleads > 1 %}
      Co-leaders:
    {% else %}
      Led by:
    {% endif %}
      </b>
        <ul>
  {% for lead in leads%}
        <li><a href="{{ lead.url }}" title="{{ lead.title }}">{{lead.firstname}} {{ lead.title }}</a> - {{lead.affiliation}}</li>
  {% endfor %}
       </ul>
      </li>
      <li><b>Mailing list</b>: <a href="{{ excursion.mailinglist }}">{{ excursion.mailinglist }}</a></li>
    </li></ul>
</ul>
<br/>
{% endfor %}

{{content}}

<section class="bg-dark">
  <div class="text-center">
    <h1>Ongoing</h1>
  </div>
</section>

<div class="border">
 <h4><b><a name="working"></a>Expeditions</b></h4>
</div>
{% assign projects = site["projects"] | where:"status", "ongoing" | sort: "order" %}
<ul>
{% for project in projects %}
    <li><strong>{{ project.title | upcase }}</strong>: {{ project.tagline }}. Current lead(s) are:
            {% assign collaborators = site["people"] | where: "projects", project.title %}
            <ul>
            {% for person in collaborators %}
              <li><a href="{{ person.url }}" title="{{ person.title }}">{{person.firstname}} {{ person.title }}</a> - {{person.affiliation}}</li>
            {% endfor %}

            <p></p>
            </ul>
{% endfor %}
</ul


<br/>
<section class="bg-dark">
  <div class="text-center">
    <h1>Retired</h1>
  </div>
</section>

<div class="border">
 <h4><b><a name="working"></a>Retired Working Groups</b></h4>
</div>
{% assign retiredgroups = groups | where:"status", "retired" %}

<ul>
{% for group in retiredgroups %}
    <li><strong>{{ group.title | upcase }}</strong>: {{ group.tagline }}
{% endfor %}
</ul>
<br/>
<p>

<div class="border">
 <h4><b><a name="working"></a>Retired Expeditions</b></h4>
</div>

  {% assign pages = site[page.short] | where:"status", "retired" | sort: "order" %}
      <ul>
      {% for service in pages %}
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
            <li><a href="{{ service.url }}" title="{{ service.title }}">{{ service.title }}</a>{% if service.tagline %}: {{ service.tagline }}.{% endif %}  Current lead(s) are:
            {% assign collaborators = site["people"] | where: "projects", service.title %}
            <ul>
            {% for person in collaborators %}
              <li><a href="{{ person.url }}" title="{{ person.title }}">{{person.firstname}} {{ person.title }}</a> - {{person.affiliation}}</li>
            {% endfor %}

            <p></p>
            </li>
          </div>
        </div>
      {% endfor %}
      </ul>

<hr class="primary">
<p> <a href="{{ page.url }}"> Back to top </a> </p>
