---
layout: default
---

<div class="text-center">
  <h2>{{ page.software }} {{ page.title }}</h2>
</div>

 {% assign pages = site[page.short] | sort: "order" %}

<div class="border">
  <h3 id="cloud">Cloud and Cluster Tools<div class="row"></h3>
</div>
<section id="services">
<ul>
{% for item in pages %}
  {% if item.section == 'cloud' %}
    <li><a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>
</section>

<div><br></div>
<div class="border">
  <h3 id="exp">Expeditions Tools<div class="row"></h3>
</div>
<section id="services">
<ul>
{% for item in pages %}
  {% if item.section == 'expeditions' %}
    <li><a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>
</section>

<div><br></div>
<div class="border">
  <h3 id="data">Data Related Tools and Services<div class="row"></h3>
</div>
<section id="services">
<ul>
{% for item in pages %}
  {% if item.section == 'data' %}
    <li><a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>
</section>

<div><br></div>
<div class="border">
  <h3 id="ent">PRAGMA ENT Tools<div class="row"></h3>
</div>
<section id="services">
<ul>
{% for item in pages %}
  {% if item.section == 'ent' %}
    <li><a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>
</section>

<div><br></div>
<div class="border">
  <h3>Other Software created, enhanced or motivated by PRAGMA<div class="row"></h3>
</div>
<section id="services">
<ul>
{% for item in pages %}
  {% if item.section == 'other' %}
    <li><a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>
</section>
<div><br></div>

<hr class="primary">
<p> <a href="{{ page.url }}"> Back to top </a> </p>
