<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="pragma40">
    {% include header-workshop.html %}
    <div class="wrapper-menu-left">
      <nav>
           <a class="page-link" href="/pragma40">Home</a>
           <a class="page-link" href="/pragma40-registration">Registration</a>
           <a class="page-link" href="/pragma40-submission">Abstract Submission</a>
           <a class="page-link" href="/pragma40-contact">Help and Questions</a>
      </nav>
    </div>
    <div style="clear: both;" > </div>
    <div class="page-content">
      <div class="wrapper-menu-left">
          <div class="menu-left">{% include menu-pragma40.html %} </div>
          <div class="content-right"> 
          <p class="attention-box">
          <span style="font-weight: bold !important">UPCOMING DEADLINES: ***September 6th ****</span> Submissions for <a href="/pragma40-student-presentations">Student Presentations</a> and <a href="/pragma40-posters/">Posters</a>.  
          </p>
            <header class="post-header">
              <h1 class="post-title">{{ page.title }}</h1>
            </header>
            {{ content }} 
          </div>
          <div style="clear: both;" > </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
